h1{
  color:aqua;
  font-size: 60px;
  text-align: center;
}
h2{
  color:red;
  font-size:35px;
  text-align:center;
  margin: 30px;
}
p{}
img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.title{
    font-size: 25px;
    background-color: antiquewhite;
    padding: 10px;
}
